<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="takeda.bizagi.connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <takeda.bizagi.connector.Properties.Settings>
            <setting name="BizAgiConnectorLibrary_EntityManagerSOA_EntityManagerSOA"
                serializeAs="String">
                <value>http://des05346.nycomed.local/CBT/webservices/entitymanagersoa.asmx</value>
            </setting>
            <setting name="BizAgiConnectorLibrary_BizAgiCacheWebservice_Cache"
                serializeAs="String">
                <value>http://des05346.nycomed.local/Play/webservices/cache.asmx</value>
            </setting>
            <setting name="BizAgiConnectorLibrary_WorkflowEngineSOA_WorkflowEngineSOA"
                serializeAs="String">
                <value>http://des05346.nycomed.local/FAP/webservices/workflowenginesoa.asmx</value>
            </setting>
        </takeda.bizagi.connector.Properties.Settings>
    </applicationSettings>
</configuration>