<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\VS Projects\Bizagi Email Parser\TempMailStorage"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="userName" value="abhiram144Tests@gmail.com"/>
    <add key="Password" value="Ns2b71234"/>
    <add key="Host" value="imap.gmail.com"/>
    <add key="port" value="993"/>
    <add key="SaveMailPath" value="C:\Users\abhi\source\repos\EmailListenerICMPTrial2\SavedMails"/>
    <add key="BizagiUrl" value="http://localhost:10024/XMLTrial/"/>
    <!--<add key="TempMailStoragePath" value="Bizagi Email Parser\TempMailStorage"/>-->
  </appSettings>
</configuration>